[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
invoke = "*"
ghp-import = "*"

[dev-packages]
pylint = "*"
bandit = "*"
rstcheck = "*"

[requires]
python_version = "3.10.6"
